<section class="catalog">
  <div class="container">
    <h2 class="catalog__title">Каталог техники</h2>
    <ul class="catalog__inner">
      <li class="catalog__item catalog__item--large">
        <img class="catalog__image" src="img/technique-1.jpg" alt="Автопогрузчики">
        <a class="catalog__link" href="#">Автопогрузчики</a>
      </li>
      <li class="catalog__item">
        <img class="catalog__image" src="img/technique-2.jpg" alt="Запасные части">
        <a class="catalog__link" href="#">Запасные части</a>
      </li>
      <li class="catalog__item catalog__item--down">
        <img class="catalog__image" src="img/technique-3.jpg" alt="Самоходные подъёмники">
        <a class="catalog__link" href="#">Самоходные подъёмники</a>
      </li>
      <li class="catalog__item">
        <img class="catalog__image" src="img/technique-4.jpg" alt="Складская техника">
        <a class="catalog__link" href="#">Складская техника</a>
      </li>
      <li class="catalog__item catalog__item--large">
        <img class="catalog__image" src="img/technique-5.jpg" alt="Электропогрузчики">
        <a class="catalog__link" href="#">Электропогрузчики</a>
      </li>
      <li class="catalog__item catalog__item--down">
        <img class="catalog__image" src="img/technique-6.jpg" alt="Автопогрузчики">
        <a class="catalog__link" href="#">Автопогрузчики</a>
      </li>
      <li class="catalog__item">
        <img class="catalog__image" src="img/technique-7.jpg" alt="Запасные части">
        <a class="catalog__link" href="#">Запасные части</a>
      </li>
      <li class="catalog__item catalog__item--large">
        <img class="catalog__image" src="img/technique-8.jpg" alt="Самоходные подъёмники">
        <a class="catalog__link" href="#">Самоходные подъёмники</a>
      </li>
      <li class="catalog__item catalog__item--large">
        <img class="catalog__image" src="img/technique-9.jpg" alt="Складская техника">
        <a class="catalog__link" href="#">Складская техника</a>
      </li>
      <li class="catalog__item">
        <img class="catalog__image" src="img/technique-4.jpg" alt="Электропогрузчики">
        <a class="catalog__link" href="#">Электропогрузчики</a>
      </li>
      <li class="catalog__item catalog__item--large">
        <img class="catalog__image" src="img/technique-1.jpg" alt="Электропогрузчики">
        <a class="catalog__link" href="#">Электропогрузчики</a>
      </li>
      <li class="catalog__item catalog__item--large">
        <img class="catalog__image" src="img/technique-10.jpg" alt="Электропогрузчики">
        <a class="catalog__link" href="#">Электропогрузчики</a>
      </li>
    </ul>
    <button class="catalog__more btn " type="button">
      Смотреть весь каталог
    </button>
  </div>
</section>