html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 1.25;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  color: var(--color-main);
  background-color: var(--color-white);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-container {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1210px;
}

.btn {
  position: relative;
  padding: 20.5px;
  font-size: 15px;
  line-height: 1.4;
  color: var(--color-cinnabar);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-115px, -50%);
    width: 14px;
    height: 15px;
    background-image: url("../img/btn.svg");
    transition: background-image 0.3s ease-in-out;
  }

  &:hover {
    color: var(--color-white);
    background-color: var(--color-bali-hai);

    &::before {
      background-image: url("../img/btn-white.svg");
    }
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
